*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    padding: 16px 0;
    background-color: #182c61;
    color: #ECF0F1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color: #ECF0F1;
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto; 
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand-list img{
    height: 24px;
}

.brand-list li{
    display: inline;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
    color: #182C61;
}

section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom: 8px;
}

.store-facade{
    margin-left: 32px;
}

#contato .container{
    display: block;
}

.forma-contato{
    display: flex;
    justify-content: space-between;
}


form input,
form textarea{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

form button{
    background-color: green;
    color: #ECF0F1;
    border: none;
    cursor: pointer;
    display: inline;
    width: 100px;
    margin-right: 3px;
}
form div1 button{
    background-color: red;
    width: 100px;
    color: #ECF0F1;
}